.htaccess
04_VERIF_reviewed_delivered.txt
04_VERIF_reviewed_delivered/
7zS.sfx
7zSD.sfx
7za.exe
InstallCustomOmegaT.PS1
InstallCustomOmegaT.PS1.git
InstallCustomOmegaT43.PS1
LQE/
OmegaT_4.3.0_portable.zip
OmegaT_customizer.exe
OmegaT_customizer_cfg.exe
OmegaT_customizer_xl8.exe
OmegaT_portable.zip
OmegaT_portable/
_Archive/
archive/
auxiliary/
bak/
config.txt
config_cfg.txt
demo/
exe/
hunspell/
issues/
make_installer.bat
make_installer_cfg.bat
manueljunk.sh
okapi38/
omt2groovy_attr_conv_v2.pl
omt_files_links.txt
repos/
soutojunk.sh
**/_bak/
**/_bak2/
**/okapiFiltersForOmegaT-1.6*.jar
**/okapiFiltersForOmegaT-1.7*.jar
OmegaT_portable/
*.bat